{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="blog-header">
	<h1 class="blog-title">Historias que iluminan</h1>
</div>
<div class="row">
	<div class="col-sm-8 blog-main">
	    <div class="blog-post">
	 		{% for post in posts %}
				<a href="{{post.get_absolute_url}}">
		
					<h2 class="blog-post-title">{{post.titulo}}</h2>
				</a>

				<p class="blog-post-meta">{{post.fecha}}</p>

				<p>{% autoescape off %} {{ post.resume}}{% endautoescape %}</p>
			{%endfor%}
		</div>
        <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar-module-inset">
    	<div class="sidebar-module-inset">
       	    <h4>2016</h4>
        	<ol class="list-unstyled">
              <li><a href="#">Marzo</a></li>
              <li><a href="#">Febrero</a></li>
              <li><a href="#">Enero</a></li>
            </ol>
        </div>
        <div class="sidebar-module-inset">
            <h4>2015</h4>
            <ol class="list-unstyled">
              <li><a href="#">Diciembre</a></li>
              <li><a href="#">Noviembre</a></li>
              <li><a href="#">Octubre</a></li>
              <li><a href="#">Septiembre</a></li>
              <li><a href="#">Agosto</a></li>
              <li><a href="#">Julio</a></li>
              <li><a href="#">Junio</a></li>
              <li><a href="#">Mayo</a></li>
              <li><a href="#">Abril</a></li>
              <li><a href="#">Febrero</a></li>
              <li><a href="#">Enero</a></li>
            </ol>
        </div>
    </div>
</div>

      </div>

    
	

{%endblock content%}