@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: 'Roboto', sans-serif;
}
header img{
  height: 132px;
  width: 100%;
}
img{
  width: 100%;
}


/***********    ID's   ************/
#one, #two, #carrusel{
  margin-bottom: 20px;
}
#gallery{
  margin: 2em 0px 3em 0px;
}
#gallery > img{
  width: 100%;
}
/***********  Clases ************/
.footer{
  backgorund:url(images/footer-01.sgv) center center no-repeat;
  height: 25%;
  width: 100%;
  background-color: #0079CF;
  bottom: 0;
  position: relative;
  height: 150px;
  clear:both;
  padding-top:20px;
}
.footer ul li{
  display: inline;
  color: #fff;
}
.footer ul li a{
  color: #fff;
}
.footer .container{
  bottom:0;
}
.footer .container ul{
  padding: 20px 0px 20px 0px;
}

.footer .container ul li {
  padding: 0px 15px 0px 15px ;
  border-right:1px solid;
  border-color: #fff;
}
.footer .container ul li:first-child {
  border-right:0px solid;
}
.container ul li {
  /*border-right:1px solid;
  border-color: #fff;*/
    padding: 0px 2px 0px 2px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: #005FB5;
  color: #fff!important;
}
.nav{
  /*padding-left: 5% !important;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  background-color: #0080C6 !important;
  color: #fff !important;
  height: auto;
}
.container  nav{
  border-radius: 20px;
}
.navbar-default .navbar-nav > li > a{
  color: #fff !important;
}
.carousel-example-generic{
  margin-bottom: 20px;
}
.panel-cards{
  margin: 0% 10% 10% 10%;
  color: #666;
}
.navmenu{
  margin-top: 3%;

}
.navblue{
  border-radius: 20px;
}
.navblue ul {
  /*padding: 0 10% 0 13%;*/
}
.navmenu .col-md-10{
  padding: 0;
}
.head-news h1{
  background-color: #81D4F7;
  text-align: center;
  border-radius: 20px 20px;
  padding: 10px;
  color: #fff;
  /*font-family: 'Give';*/
}
.card-img-top{
  width: 200px;
  height: auto;
}
.no-margin{
  padding: 0;px
}
.card-title{
  text-align: center;
}
.card img{
 box-shadow: 2px 2px 5px #999;
}
.news h2, h1{
  text-align: center;
}

.navblue ul li > a[href="http://www.twitter.com"] {padding: 11px;}
.navblue ul li > a[href="http://www.facebook.com"] {padding: 11px;}
.navblue ul li > a[href="http://www.instagram.com/iluminemosdeazul/"] {padding: 11px;}

.img-wrapper img{
  width: 100%;

}
.no-padding{
  padding: 0px!important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }
iframe{
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }s
