{% extends 'base.html' %}

{% block content %}


    <section id="affiliates">
        <div class="container">

          <div class="row">
            <div class="col-md-10 col-md-offset-1">


                <div class="title">
                    <h1 class="text-uppercase"> ¿Quienes somos?</h1>
                </div>

                <p> Iluminemos de Azul, es una Asociación Civil que tiene como objetivo crear conciencia acerca del autismo para que a través de la recaudación de fondos en colaboración con las instituciones mas representativas de México se pueda proporcionar tratamiento y apoyo a las familias que lo necesitan.</p>
                <p>Somos un conjunto de empresarios impulsados por el gran desconocimiento que existe sobre el autismo. Sabemos acerca de la necesidad que se tiene por que existan herramientas de detección oportunas, de perfeccionar los modelos de atención, de establecer programas de inclusión escolar y laboral. De que el mundo conozca acerca del Autismo y que tenemos mucho que aprender de él.</p>
                 </div>


             </div>


             <div class="row">
                <div class="col-md-10 col-md-offset-1">


                    <div class="title">
                        <h1 class="text-uppercase"> ¿A qué nos dedicamos?</h1>
                    </div>
                    <p>Sabemos del juicio social al que están expuestas las familias por el comportamiento de sus hijos o hermanos, razón por la que estamos convencidos de que a través de la sensibilización de la sociedad, lograremos ser mas incluyentes en todos los niveles.</p>
                    <p>Creemos que en lo colectivo siempre será mucho más fácil crear conciencia acerca de esta condición de vida que es una realidad para muchos todos los días y que hoy no todos comprenden.</p>
                    <p>Y esto es solo el principio, ya que lo increíble es que cualquiera puede sumarse al proyecto y ayudar. ¿Cómo? Muy sencillo, puedes vestir de azul, portar listones azules, participar en nuestros eventos y campañas o realizar donativos para ayudarnos a seguir adelante, y por último, y no por eso menos importante, es informarse, ya que solo así con tu donativo y conciencia, apoyaremos a muchas familias en nuestro país abriendo las puertas a un mundo mas incluyente</p>

                </div>


             </div>








        </div>

    </section>


{% endblock %}